* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #222;
}

img {
    max-width: 100%;
}
ul li{
    list-style-type: none;
}
#detail-product {
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  #detail-product .container {
    padding: 0 100px;
  }
  
  .img-group {
    display: flex;
    align-items: center;
  }
  
  .img-list {
  
    margin-right: 10px;
    width: 80px;
  }
  
  .img-list-item {
    width: 67px;
    height: 67px;
    margin-bottom: 10px;
  }
  
  .img-list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .img-list-item{
    padding-top: 0;
    margin-top: 0;
  }
  
  
  .img-grow {
    padding-right: 40px;
  }
  
  .img-grow img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
  }
  
  #detail-product .col-lg-4 h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  #detail-product .col-lg-4 p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .option_product {
    margin-bottom: 50px;
  }
  
  .size_product {
    margin-bottom: 30px;
  }
  
  .option_product img {
    border: 1px solid;
    cursor: pointer;
    object-fit: cover;
    width: 52px;
    height: 52px;
  }
  
  .option_product p,
  .size_product p,
  .total_product p {
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-bottom: 15px;
  }
  
  .size_product a {
    font-size: 14px;
    color: #9f9f9f;
  }
  
  .size_product a:hover {
    color: black;
  }
  
  .size_product ul {
    display: flex;
  }
  
  .size_product li {
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid transparent;
  }
  
  .choose-size {
    border-bottom-color: black !important;
  }
  
  .total_product {
    display: flex;
    align-items: center;
  }
  
  .total_product p {
    margin-right: 15px;
    margin-bottom: 0px !important;
  }
  
  .number_product {
    display: flex;
    align-items: center;
  }
  
  .number_product button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid;
    font-size: 16px;
  }
  
  .number_product span {
    padding: 5px 15px;
    border: 1px solid;
  }
  
  .total_product {
    margin-bottom: 40px;
  }
  .img-group {
    display: flex;
    align-items: center;
  }
  .add-cart {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 15px;
    background-color: white;
  }
  
  .add-cart i {
    margin-right: 10px;
  }
  
  .btn-buy,
  .btn-order {
    display: flex;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 30px;
  }
  .policy {
    color: black !important;
    margin-bottom: 0 !important;
    font-size: 17px;
  }
  .policy {
    width: 100%;
  }
  
  .policy li {
    width: 100%;
    font-size: 14px;
    padding: 15px 0;
    border: 1px solid;
    border-color: transparent transparent black transparent;
    color: #212529;
    font-weight: 300;
    
  }
  
  .policy .fa-angle-down {
    float: right;
  }
  
  .list_store {
    text-decoration: underline;
  }
  
  .fa-truck,
  .fa-credit-card,
  .fa-repeat {
    margin-right: 5px;
  }
  
  .information-product {
    margin-top: 20px;
  }
  
  .information-product h3 {
    font-size: 18px;
    font-weight: 700;
    border: 1px solid;
    border-color: transparent transparent gray transparent;
    padding: 20px 0;
    margin-bottom: 20px;
  }
  
  .information-product p {
    font-size: 16px;
  }
  ul {
    padding-left: 0;
  }
  .size{
    display: flex;
  }
  .size-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
  }
  .size-item button {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    border: 1px solid #000;
}
.size-item button:focus {
    background-color:#000;
    color: #fff;
}